{% extends "base.html" %}

<body>

  {% block content%}

  <div class="house_info">
    <div class="apartment-carousel">

        <div class="slider">
          <h3>{{ apartment.title }}</h3>
          <!-- slide 1 -->
          
          <div class="slide">
            <img src="{{ url_for('static', filename='apartments_pics/' + apartment.picture_1) }}" alt="" />
          </div>
          <div class="slide">
            <img src="{{ url_for('static', filename='apartments_pics/' + apartment.picture_2) }}" alt="" />
          </div>
          <div class="slide">
            <img src="{{ url_for('static', filename='apartments_pics/' + apartment.picture_3) }}" alt="" />
          </div>
                
          <!-- Control buttons -->
          <button class="next next-next"> >> </button>
          <button class="prev prev-prev">
            << </button>
        </div>
      <div class="reserve">
        <button class="outline white-blue">Book</button>
        <button class="outline white-red">Wishlist</button>

      </div>

    </div>
    <div class="house_description">
        <h3> {{apartment.description}} </h3>

        <p>State of the art security <br>
          Wooden Heated floors <br>
          Flowing water <br>
          Hot Instant Showers <br>
          Free Parking &amp; Wifi</p>
    </div>
</div>

  {% endblock content %}
  
</body>
